<h2>Create Your Beginner Plan</h2>
<form method="POST">
Age: <input type="number" name="age"><br>
Height:
<select name="height">
    <option value="5'0">5'0"</option>
    <option value="5'1">5'1"</option>
    <option value="5'2">5'2"</option>
    <option value="5'3">5'3"</option>
    <option value="5'4">5'4"</option>
    <option value="5'5">5'5"</option>
    <option value="5'6">5'6"</option>
    <option value="5'7">5'7"</option>
    <option value="5'8">5'8"</option>
    <option value="5'9">5'9"</option>
    <option value="5'10">5'10"</option>
    <option value="6'0">6'0"</option>
</select><br>

Weight: <input type="number" name="weight"><br>
Gender: 
<select name="gender">
    <option value = "female">Female</option>
    <option value = "male">Male</option>
</select><br>
Goal:
<select name="goal">
    <option value="gain muscle">Gain Muscle</option>
    <option value="cut fat">Cut Fat</option>
</select><br>
Days per Week: <input type="number" name="days" min="1" max="7"><br>
    <button type="submit">Generate Plan</button>
</form>
